<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Course</title>
</head>
<body>
  <div class="text-center pt-5">
    <h3>Add Course</h3>
  </div><br>

  <div class="text-center">
      <form action="/home/courses/add" method="post">
        <div class="mb-3">
            <input type="text" name="name" placeholder="Title Course">
        </div>

        <div class="mb-3">
            <input type="url" name="imageURL" placeholder="Image URL">
        </div>

        <div class="mb-3">
            <textarea name="description" id="" cols="50" rows="8">Description</textarea>
        </div>

        <div class="mb-3">
            <input type="number" name="price" placeholder="Price">
        </div>

        <button type="submit" class="btn btn-primary">Add Course</button>
      </form>
  </div>


  <!-- JavaScript Bundle with Popper -->
</body>
</html>